<div class="nested-field">
  <div class="input-group">
    <input class="form-control" name="data_structure[values][]">
    <span class="input-group-btn">
      <%= link_to '#', class: 'remove-value btn btn-danger' do %>
        <%= fa_icon('times-circle') %>
      <% end %>
    </span>
  </div>
</div>
